html
    head
        title Debug Aircraft
        style.
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: #f4f4f4;
                padding: 20px;
            }
            .form-container {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                max-width: 400px;
                margin: 0 auto;
            }
            .form-field {
                margin-bottom: 15px;
                display: flex;
                align-items: center;
            }
            .form-field label {
                flex: 1;
                margin-bottom: 0; /* Adjusted for flexbox layout */
            }
            .form-field input[type="text"], .form-field textarea {
                flex: 2; /* Adjust input text and textarea width */
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ddd;
                box-sizing: border-box;
            }
            .form-field input[type="checkbox"] {
                margin-left: 10px; /* Adjust for checkbox alignment */
            }
            .form-field button {
                padding: 10px 15px;
                background-color: #4a90e2;
                color: white;
                border: none;
                cursor: pointer;
                margin-left: 5px;
            }
            .form-field button, .form-field input[type="submit"] {
                padding: 5px 10px;
                font-size: 1em;
                background-color: #4a90e2;
                color: white;
                border: none;
                cursor: pointer;
                width: 100%;
                box-sizing: border-box;
            }
            .error-box {
                background-color: #ff4d4d;
                color: white;
                padding: 10px;
                border-radius: 5px;
                position: fixed;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                display: none;
            }
            .close-btn {
                float: right;
                cursor: pointer;
            }
        script.
            window.onload = function() {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('error')) {
                    var errorBox = document.getElementById('error-box');
                    var tailNumber = urlParams.get('error');
                    errorBox.textContent = `${tailNumber} is an invalid or unknown tail number.`;
                    var closeButton = document.createElement('span');
                    closeButton.id = 'close-btn';
                    closeButton.textContent = '×';
                    closeButton.className = 'close-btn';
                    closeButton.onclick = function() {
                        errorBox.style.display = 'none';
                    };
                    errorBox.appendChild(closeButton);
                    errorBox.style.display = 'block';
                }
            };
            function fetchAircraftData() {
                var tail_number = document.getElementById('tail_number').value;
                location.href = '/debugAircraft?tail_number=' + tail_number;
            }
    body
        if error
            div#errorBox.error-box
                span.close-btn(onclick="closeErrorBox()") ×
                | #{error} was not found in our records, please create it.
        .form-container
            form(action="/debugAircraft" method="post")
                .form-field
                    label(for="tail_number") Tail:
                    input(type="text" id="tail_number" name="tail_number" value=tail_number required)
                    button(type="button" onclick="fetchAircraftData()") Fetch Aircraft
                .form-field
                    label(for="id")
                    input(type="hidden" id="id" name="id" value=plane_id)
                .form-field
                    label(for="active") Active Aircraft:
                    input(type="checkbox" id="active" name="active" checked=active)
                .form-field
                    label(for="serial") Serial:
                    input(type="text" id="serial" name="serial" value=serial)
                .form-field
                    label(for="icao") ICAO:
                    input(type="text" id="icao" name="icao" value=icao)
                .form-field
                    label(for="model") Model:
                    input(type="text" id="model" name="model" value=model)
                .form-field
                    label(for="typeName") Type:
                    input(type="text" id="typeName" name="typeName" value=typeName)
                .form-field
                    label(for="regOwner") Registered Owner:
                    input(type="text" id="regOwner" name="regOwner" value=regOwner)
                .form-field
                    label(for="hours") Hours:
                    input(type="number" id="hours" name="hours" value=hours)
                .form-field
                    label(for="plane_data") Plane Data (JSON):
                    textarea(id="plane_data" name="plane_data") #{plane_data}
                .form-field
                    label(for="owner_id") Owner ID (JSON):
                    textarea(id="owner_id" name="owner_id") #{owner_id}
                .form-field
                    input(type="submit" value="Submit Changes")
                    button(type="button" onclick="location.href='/debugNewAircraft'") New Aircraft
                    button(type="button" onclick="location.href='/debug'") Back
                div#error-box.error-box
