html
    head
        title List All Airplanes
        style.
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: #f4f4f4;
                padding: 20px;
            }
            .container {
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                max-width: 800px;
                margin: 0 auto;
                text-align: center;
            }
            h1 {
                margin-bottom: 20px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }
            th {
                background-color: #4a90e2;
                color: white;
            }
            .back-button {
                display: block;
                width: 100px;
                padding: 10px 15px;
                background-color: #4a90e2;
                color: white;
                border: none;
                cursor: pointer;
                margin: 20px auto;
                text-align: center;
            }
    body
        .container
            h1 List All Aircraft
            table
                thead
                    tr
                        th Tail Number
                        th Model
                        th User
                        th Owner
                        th ICAO
                        th Hours
                tbody
                    each airplane in airplanes
                        tr
                            td
                                a(href=`/debug/aircraft?tail_number=${airplane.reg}`)= airplane.reg
                            td= airplane.model
                            td
                                if airplane.owner_id
                                    a(href=`/debug/user?userid=${airplane.owner_id}`) #{airplane.owner_name}
                                else
                                    |
                            td= airplane.regowner
                            td= airplane.icao
                            td= airplane.hours
                h5 Found #{airplanes.length} aircraft in system.
            button.back-button(type="button" onclick="location.href='/debug/aircraft'") Back
